      /* Estilos para la barra de navegación */

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    } 

    body{
        background-color: whitesmoke;
    }
      
      ul.navbar {
        display: flex;
        justify-content: right;
        list-style: none;
        background-color: #001B79;
    }

    ul.navbar li {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        
    }

    ul.navbar li a {
        text-decoration: none;
        transition: ease-in .25s;  

    }
    ul.navbar li a:hover {
        background-color: whitesmoke;
        color: #001B79;
        text-decoration: underline;
    }

    ul.navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    